<%- include('header') %>

<form method="get" action="composto">
     <div class="juros">
    <input name="one" type="number" placeholder="Valor Inicial">
    <input name="two" type="text" placeholder=" Valor Mensal">
    <input name="three" type="text" placeholder="Taxa de Juros">
    <input name="four" type="text" placeholder="Período em :">
    <button class="botaofinal">clique aqui</button>
   </form>

   </div>


<%- include('footer') %>