<%- include('header') %>

<form method="get" action="composto">
   
    <input name="" type="number" placeholder="">
    <input name="" type="text" placeholder="">
    <input name="" type="text" placeholder="">
    <input name="" type="text" placeholder="">
    <button class="botaofinal">clique aqui</button>
   </form>




<%- include('footer') %>