body{
    background-color: aquamarine;
    background-image: url(./juros-embutidos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vh;
}

input{
    padding: 10px;
    margin: 20px;
    margin-left: 120px;
    margin-right: 80px;
    display:inline-block;
}
button{
    display: inline-block;

}
